div.busy { 
  position:absolute;
  top: 40%;
  left: 35%;
  margin-top: -100px;
  margin-left: -50px;
  display:none;
  background: rgba(230, 230, 230, .8);
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 40px;
  padding-right: 30px;
  border-radius: 5px;
  z-index:5;
}

ul.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

ul.nav-tabs {
    text-align:center;
}

#subnav {
  text-align:left;
}